body 
{
    background-color: rgb(202, 203, 206);
    
}
.searchform
{
    text-align: right;
}

.de {
  background-color: rgb(45, 41, 41);
  border-style: groove;
}
.contanier {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-con {
  display: flex;
  justify-content: space-between;
}

.logo a {
  font-size: 2rem;
  color: #fbfbfb;
  text-decoration: none; 
}
.kk 
{
    color: rgb(15, 15, 18);
    font-family:;
}